/WeatherApplication/*.iml
/WeatherApplication/.gradle
/WeatherApplication/local.properties
/WeatherApplication/.idea/workspace.xml
/WeatherApplication/.idea/libraries
/WeatherApplication/.DS_Store
/WeatherApplication/build
/WeatherApplication/captures
